.bg {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('/images/cover-home_2.jpg');
    background-size: cover;
    background-position: center center;
    z-index: -1;
    margin: 0;
    padding: 0;

    .overlay {
        // position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.3);
    }
}