$primary : #F7866F;


$rich_black : #001011;
$nice_black : #3F4045;
$cornflow_bluwe : #5C95FF;
$dark_blue : #093A3E;
$dark_purple : #0F084B;
$darkerpurple : #0D0221;
$liberty : #5F5AA2;
$bright_color_yellow : #FCAB10;
$turcoise_blue : #80FFEC;
$orange_red : #FE5F55;

$semblable : (A : #FCAA65,
    B : #E0845A,
    D : #E05D5A,
    F : #FC65A5,
);

$monochrome : (A : #784136,
    B : #F9C5BA,
    D : #785F5A,
    F : #C46A58,
);


$complementaire : (A : #AB4E3C,
    B : #FF9F8C,
    D : #2BAB78,
    F : #6FF7C2,
);



$carre : (A : #F77157,
    B : #F7EC88,
    D : #57F7B8,
    F : #8463F7);