@import 'include-media';

nav {
    padding: .6rem 2rem;
    z-index: 6;
}


.cont-nav {

    display: flex;
    justify-content: space-between;
    place-items: center;
    align-items: center;

    .logo {
        width: 75px;
        height: 45px;
        max-height: 45px;
        max-width: 60px;

        img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
        }
    }

    /* ! phone < x < tablet*/

    .center-menu {
        display: flex;
        justify-content: space-around;

        @include media(">phone", "<=420px") {
            display: none;
        }

        @include media("<=phone") {
            display: none;
        }

        @include media("<=tablet", ">420px") {
            display: none;
        }

        #SHOP {
            position: relative;

            &:hover #target {
                display: block;
            }

            span {
                position: absolute;
                top: -17px;
                left: 20px;
                width: auto;
                /* right: -40px; */
                background-color: #F7866F;
                padding: 0 0.2rem;
                color: white;
                font-size: 0.8rem;

                &:after {
                    content: '';
                    width: 0px;
                    height: 0px;
                    border-bottom: 5px solid transparent;
                    border-left: 3px solid transparent;
                    border-top: 5px solid #F7866F;
                    border-right: 5px solid transparent;
                    position: absolute;
                    left: 10%;
                    top: 100%;

                }
            }
        }




        a {
            text-transform: uppercase;
            font-weight: 500;
            color: #555555;

            &:hover {
                color: #0b9d8a;
                transition: all ease 0.3s;
            }
        }

        a:not(:last-child) {
            margin-right: 0.9rem;
        }
    }

    .right-menu {
        display: flex;
        width: auto;
        // border: 1px solid magenta;

        .shop {
            @include media(">phone", "<=420px") {
                display: none;
            }

            @include media("<=phone") {
                display: none;
            }

            @include media("<=tablet", ">420px") {
                display: none;
            }
        }


        .search {
            margin-right: 1.2rem;
        }

        .user {
            margin-right: 1.2rem;

            @include media(">phone", "<=420px") {
                margin: 0;
            }

            @include media("<=phone") {
                margin: 0;
            }

            @include media("<=tablet", ">420px") {
                margin: 0;
            }
        }

        a {
            position: relative;
            font-size: 1.2rem;
            display: block;
            text-transform: uppercase;
            color: #525050;



            span {
                color: whitesmoke;
                position: absolute;
                top: -15px;
                background-color: #2BAB78;
                padding: 0.2rem;
                border-radius: 50%;
            }
        }



        a:not(:last-child) {
            // margin-right: 1.2rem;
        }
    }

}

#SHOP:hover {
    color: #F7866F;
}



.shop-menu {
    height: auto;
    z-index: 10;
    position: absolute;
    top: 4rem;
    width: 100%;
    display: none;
    align-self: center;

    .cont {
        background-color: #FFFFFF;
        width: 80%;
        padding: 2rem 0;
        display: flex;
        justify-content: space-around;
        margin: auto;
        border-radius: 0.5rem;


        .list {
            // border: 1px solid #0b9d8a;
            text-align: left;

            ul {
                margin: 0.5rem 0;
                padding: 0 0.3rem;
                ;


            }

            li {
                margin-bottom: 0.2rem;

                a {
                    color: #525050;

                }
            }
        }
    }
}

.showw {
    display: block !important;
}