@import 'include-media';

.full-slider-box {
    position: relative;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;

    .f-slide-1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('/images/Slider_01.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        transition: 1s all ease-in-out;
        transform: translateX(0%);

        @include media(">phone", "<=tablet") {
            background-position: left;

        }

        @include media ('>=phone', '<420px') {
            background-position: -34rem;
        }
    }

    .f-slide-2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('/site/images/Slider_02.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        transition: 1s all ease-in-out;
        transform: translateX(100%);
    }


    .f-slide-3 {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('/site/images/Slider_03.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        transition: 2s all ease-in-out;
        transform: translateX(200%);
    }

    .f-slide-4 {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('/site/images/Slider_04.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        transition: 3s all ease-in-out;
        transform: translateX(300%);
    }



    .slider-text-container {

        width: 80%;
        height: 90%;
        display: flex;
        align-items: center;


        .f-slide-text {
            display: flex;
            flex-direction: column;
            margin-right: auto;


            span {
                text-transform: uppercase;
                letter-spacing: 6px;
                font-weight: 500;
                color: #666;
                font-size: 1.2rem;
            }

            strong {
                color: #333;
                font-size: 3rem;
                line-height: 55px;
                letter-spacing: 1px;
                // margin-bottom: 1rem;

                font {
                    color: #0b9d8a;
                }
            }

            .f-slider-btn {
                width: 170px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFF;
                background-color: #0b9d8a;
                text-transform: uppercase;
                margin-top: 10px;
            }
        }


    }




}