@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import 'positioning';
@import 'profile';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.d-b {
    display: block;
}


$padding: 0.973rem;
$borders: 0.9735rem;
$desktop: 54rem;
$phone: 480px;
$tablet: 767px;
$black: #525252;

@mixin phone {
    @media (max-width : #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width : #{$tablet}) {
        @content;
    }
}

@mixin under-desctop {
    @media (max-width : #{$desktop}) {
        @content;
    }
}


.details-txt {
    width: 100%;
    overflow: hidden;

    .importantt {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .text {
        font-size: 1.25rem;
        color: $black;
        line-height: 1.2;
    }

    #pr-name {
        font-size: 1.5rem;
        display: block;
    }

    #pr-price {
        display: block;

        span {
            color: #d25565;
        }

        #state {
            font-weight: 400;
            color: #f0b775;

            @include phone {
                font-size: 0.9rem;
            }
        }
    }

    #pr-wilaya {
        display: block;

        span {
            color: rgb(90, 185, 162);
        }

        #exact {
            font-weight: 400;
            color: #f0b775;

            @include phone {
                font-size: 0.9rem;
            }
        }
    }

    #pr-phone {
        span {
            color: rgb(90, 185, 162);
            letter-spacing: 1.5px;
        }
    }

    .less-important {
        font-size: 1.00rem;
        font-weight: 500;
        color: #716e77;
        line-height: 1.0;
        margin: 0.3rem 0;
    }

    #pr-category {
        color: #716e77;
    }

    #pr-post {
        span {
            color: #00a03e;
        }
    }

    #pr-desc {
        font-size: 0.95rem;
        font-weight: 400;
        color: #7b7a7e;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        margin-bottom: 0.5rem;
    }

    #pr-condition {
        span {
            color: #00a03e;
        }
    }

    #seller-zone {
        line-height: 1.3;
    }

}