@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
.big {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

z
.big .show-big {
  display: block;
}

.big-container {
  min-width: 95vw;
  height: 92vh;
  margin: auto;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
}

@media (max-width: 767px) {
  .big-container {
    display: block;
    overflow-y: auto;
    height: auto;
  }
}

.big-container .close-fun {
  position: absolute;
  right: 12px;
  top: 0px;
  font-size: 2.5rem;
  color: #c4c4c4;
  opacity: 0.5;
  cursor: pointer;
  z-index: 4;
}

.big-container .close-fun:hover {
  opacity: 1;
}

.big-container .details-txt {
  -webkit-box-flex: 1.1;
      -ms-flex: 1.1;
          flex: 1.1;
  overflow-y: auto;
  padding: 1.5rem 1rem;
}

.big-container .image-container {
  position: relative;
  -webkit-box-flex: 1.9;
      -ms-flex: 1.9;
          flex: 1.9;
  height: 90%;
  place-items: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin: auto;
}

@media (max-width: 767px) {
  .big-container .image-container {
    height: 90%;
    padding: 1rem;
  }
}

.big-container .image-container img {
  margin: auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}

.seller-container {
  margin-top: 0.5rem;
  border-radius: .5rem;
  background-color: rgba(238, 238, 238, 0.699);
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
}

.seller-container .profile-pic {
  margin-left: .8rem;
  padding: .5rem;
}

.seller-container .profile-pic img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.seller-container .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seller-container .first-row .info-basic {
  margin-left: 1rem;
}

.seller-container .first-row .info-basic span {
  line-height: 1.5;
}

.seller-container .first-row .info-basic #user-name-pr {
  color: #c4c4c4;
  font-weight: 300;
}

.seller-container .second-row .s-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seller-container .second-row .s-c .borders {
  width: 100px;
  height: 1px;
  background-color: #c4c4c4;
}

.seller-container .second-row .s-c #social {
  font-size: 0.8rem;
  color: #ac9e9e;
  display: block;
  text-align: center;
  padding: 0.2rem 0;
  position: relative;
}

.seller-container .second-row img {
  margin: auto;
  height: 35px;
  display: block;
  margin-bottom: .25rem;
}

.seller-container .second-row .social-media-container {
  padding: .2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-items: center;
}

.seller-container .second-row .social-media-container .item {
  padding: 0.5rem 0;
}

.seller-container .second-row .social-media-container .item span {
  font-size: 0.8rem;
  margin-top: .5rem;
  text-align: center;
  color: #c4c4c4;
}

.image-container {
  margin: auto;
}

.image-container .mod {
  z-index: 2;
  position: absolute;
  font-size: 1.4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.6rem 1.2rem;
  border-radius: 7px;
  background-color: #EEE;
  color: #978e8e;
  -webkit-transition: 240ms ease-in-out all;
  transition: 240ms ease-in-out all;
  cursor: pointer;
}

.image-container .mod:hover {
  color: #776f6f;
}

.image-container .previous {
  left: 0.2rem;
}

.image-container .next {
  right: 0.2rem;
}

.seller {
  width: auto;
  padding: 1rem;
}

.seller .seller-container .basic_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basic_info .picture-holder {
  border: 1px solid black;
}

.basic_info .info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.d-b {
  display: block;
}

.details-txt {
  width: 100%;
  overflow: hidden;
}

.details-txt .importantt {
  font-size: 1.3rem;
  font-weight: 500;
}

.details-txt .text {
  font-size: 1.25rem;
  color: #525252;
  line-height: 1.2;
}

.details-txt #pr-name {
  font-size: 1.5rem;
  display: block;
}

.details-txt #pr-price {
  display: block;
}

.details-txt #pr-price span {
  color: #d25565;
}

.details-txt #pr-price #state {
  font-weight: 400;
  color: #f0b775;
}

@media (max-width: 480px) {
  .details-txt #pr-price #state {
    font-size: 0.9rem;
  }
}

.details-txt #pr-wilaya {
  display: block;
}

.details-txt #pr-wilaya span {
  color: #5ab9a2;
}

.details-txt #pr-wilaya #exact {
  font-weight: 400;
  color: #f0b775;
}

@media (max-width: 480px) {
  .details-txt #pr-wilaya #exact {
    font-size: 0.9rem;
  }
}

.details-txt #pr-phone span {
  color: #5ab9a2;
  letter-spacing: 1.5px;
}

.details-txt .less-important {
  font-size: 1.00rem;
  font-weight: 500;
  color: #716e77;
  line-height: 1.0;
  margin: 0.3rem 0;
}

.details-txt #pr-category {
  color: #716e77;
}

.details-txt #pr-post span {
  color: #00a03e;
}

.details-txt #pr-desc {
  font-size: 0.95rem;
  font-weight: 400;
  color: #7b7a7e;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin-bottom: 0.5rem;
}

.details-txt #pr-condition span {
  color: #00a03e;
}

.details-txt #seller-zone {
  line-height: 1.3;
}
/*# sourceMappingURL=style.css.map */