.nav {
    position: -webkit-sticky;
    height: auto;
    width: 100%;
    justify-content: center;
    z-index: 4;
    background-color: #fff;
    /* margin-bottom: 4rem; */
    box-shadow: 1px 2px 3px #c4c4c4;
    /* border: var(--border); */
}

.nav-container {
    position: sticky;

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    place-items: center;
}

.info-cont {
    display: flex;
    width: 140px;
    justify-content: space-around;

    align-items: center;
}

.hamburger i {
    font-size: 30px;
    color: #8a2be2;
    cursor: pointer;
}

.info ul {
    display: flex;
}

.info li {
    margin: 0 12px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary);
    cursor: pointer;
    text-transform: capitalize;
}

.info li:hover {
    color: var(--primary-dark);
    text-shadow: 5px 5px 4px #c4c4c4;
}



.search-bar {
    width: 40%;
    display: flex;
    border: .3px solid rgba(207, 193, 193, 0.753);
    border-radius: 2px;
}

#search {
    width: 85%;
    padding: 0.4rem 1.1rem;
    border-width: .3px;
    border: none;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
}

#sub {
    border: none;
    display: grid;
    place-items: center;
    border-left: rgba(207, 193, 193, 0.753) 1px solid;
    width: 15%;
    font-family: "Lato", sans-serif;
    background-color: transparent;
    cursor: pointer;
    padding: 0 .4rem;
}

#sub i {
    margin: auto;
    font-size: 1.2rem;
    color: hsla(0, 7%, 30%, 0.705);
}

#sub:hover {
    background-color: rgba(34, 34, 34, 0.174);
}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}