.displayer {
    font-family: "Lato", sans-serif;
    position: absolute;
    top: 4rem;
    /* padding: 80px 40px; */
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: -4rem;
    background: rgba(0, 0, 0, 0.3);
}

.display-content * {
    margin: 0;
    padding: 0;
}

.display-content {
    z-index: 7;
    border-radius: 5px;
    /* margin-top: 4rem; */
    background: #fff;
    width: 80%;
    height: 80%;
    display: flex;
    box-shadow: var(--shadow);
    position: relative;
}

.product-to-diplay {
    width: 40%;
    padding: 0.8rem;
    color: #2d2f3a;
    position: relative;
}

.sp {
    margin: 0.4rem auto;
}

.dis-price {
    color: #ff1f5a;
    letter-spacing: 1.6px;
}

/* .dis-price span {

} */

.dis-category {
    font-weight: 400;
}

.dis-date span {
    font-size: 16px;
    font-weight: 800;
}

.dis-details p {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    max-lines: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 16px;
}

.dis-details h5 {
    font-size: 1rem;
}

/* ! DISPLAYER */

.displayer {
    position: fixed;
}

.dis-profile {
    /* position: absolute; */
    width: 100%;
    height: auto;
    box-shadow: var(--shadow);
    max-height: 400px;
    margin: 1rem auto;
    background: #eee;
    border-radius: 5px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    z-index: 5;
}

.inner-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 0 0.6rem;
}

.impor {
    display: flex;
    justify-content: space-around;
}

.impor img {
    margin: auto;
    clip-path: circle(45% at 50% 50%);
}

.inner-nav button {
    height: 30px;
    border-color: transparent;
    background: rgb(218, 211, 211);
    cursor: pointer;
    border-radius: 5px;
}

.inner-nav i {
    font-size: 20px;
}

.dis-basic-info {
    margin: 0.8rem;
    display: block;
}

.contact {
    padding: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dis-see {
    color: #0b8457;
    display: none;
    cursor: pointer;
    text-decoration: underline;
}

.message {
    width: 40%;
}

.others {
    width: 15%;
}

.contact button {
    height: 30px;
    border-color: transparent;
    background: rgb(218, 211, 211);
    cursor: pointer;
    border-radius: 5px;
}

.contact button:hover {
    background: rgb(177, 171, 179);
}

.contact i {
    font-size: 21px;
    color: rgb(66, 61, 61);
}

.pictures-container {
    width: 60%;
    height: 100%;
    display: grid;
    place-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    padding: 1rem;
    border: border;
}

.image-show {
    cursor: pointer;
    /* width: 100%; */
    height: 90%;
    max-width: 420px;
}

.next-image {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    right: 1rem;
}

.change-image {
    padding: 0.4rem 1.4rem;
    font-size: 1.4rem;
    background-color: #9195a856;
    color: #0e153a;
    cursor: pointer;
    border-radius: 3px;
    transform: translateY(-50%);
}

.change-image:hover {
    background: rgba(34, 34, 34, 0.471);
}

.pre-image {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 1rem;
}

.closee {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #0e153a;
    opacity: 0.5;
    font-size: 2.2rem;
    cursor: pointer;
    transition: 0.5s;
    z-index: 3;
}

.closee:hover,
.closee:active {
    opacity: 0.9;
    color: #cb3b3b;
}