@import "nav.css";
@import "displayer.css";


:root {
  --primary: rgb(21, 199, 101);
  --primary-dark: rgb(27, 63, 35);
  --radius: 5px;
  --border: 1px solid black;
  --shadow: 3px 2px 6px rgba(0, 0, 0, 0.3);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background-color: #dee1ec;
  /* background-image: linear-gradient(135deg, #8BC6EC 20%, #9599E2 80%); */
}

.hide {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

.text-center {
  text-align: center;
  margin: auto;
}

/* ! nav */


/* ! section */

.sec {
  z-index: -1;
  /* display: grid;
  place-items: center; */
}

.section-container {
  width: 100vw;
  max-width: 1270px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
  padding: 2rem 1rem;
  margin: auto;
}

/* ! product */

.product {
  padding: 20px 1rem;
  background-color: #fff;
  margin: auto;
  place-items: center;
  /* border: var(--border); */
  border-radius: var(--radius);
  max-width: 450px;
  height: 410px;
  overflow: hidden;
  position: relative;
}

.priceState {
  color: #aca110;
  font-size: 20px;
  letter-spacing: 0;
  opacity: 0.6;
  text-transform: lowercase;
  font-weight: 700;
}

.data-hold {
  display: none;
}

.product:hover,
.product:active {
  box-shadow: var(--shadow);
}

.title-product {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.title-product div {
  color: #222;
  display: inline-block;
  font-size: 12px;
}

.title-product h4 {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: #0e153a;
}

.img-container {
  position: relative;
  width: 100%;
  height: 200px;
  /* padding: 10px 20px; */
  margin: 1rem auto;
  cursor: pointer;
  display: grid;
}

.img-container img {
  padding: 5px;
  margin: 0 auto;
  align-self: center;
}

.product-price {
  display: flex;
  font-family: "Lato", sans-serif;
  position: relative;
  width: 100%;
}

.price-product {
  color: #cb3b3b;
  padding-right: 3.1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.hour-product {
  color: #cb3b3be0;
  font-weight: 450;
  padding-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 23px;
  max-lines: 1;
}

.state-product {
  /* font-weight: 500; */
  color: #0b8457;
  width: auto;
}

.price-product span {
  color: #090a0a;
  position: absolute;
  margin-top: -5px;
  margin-left: 3.5px;
  /* margin-right: 1rem; */
}

.place-product {
  color: #107a8b;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 23px;
  max-lines: 1;
}

.descreption-product {
  display: none;
  font-family: "Lato", sans-serif;
  margin: 8px auto;
  font-size: 17px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 23px;
}

/* ! Sidebar */

.sidebar {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  font-weight: 200;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  box-shadow: var(--shadow);
  transform: translate(-120%);
}

.inner-container-aside {
  height: 100%;
  width: 90%;
}

.hide-side-bar {
  transform: translate(0%);
}

.toggle-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 27px;
  cursor: pointer;
  color: #cb3b3b;
  opacity: 1;
}

.toggle-close i:hover {
  opacity: 0.5;
}

.ponit {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

.quote h1 {
  font-size: 19px;
  color: #0e153a;
  text-shadow: var(--shadow);
}

.quote span {
  display: block;
  color: var(--primary);
}

.inner-container-aside ul {
  margin-top: 1rem;
  color: #0e153a;
  width: 100%;
  padding: 5px 10px;
  list-style: disc;
}

.inner-container-aside li {
  height: 40px;
  font-size: 16px;
  padding: 10px 10px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-bottom: var(--border);
  border-color: #c4c4c4;
  border-width: thin;
}

/* ! drop down menu */

.dropdown {
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 10px;
  font-weight: 101;
  color: #a19a9a;
  cursor: pointer;
}

.dropdown-content {
  right: 0px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 1s;
}

.dropdown-content li {
  font-family: "Lato", sans-serif;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  cursor: pointer;
}

.dropdown-content li i {
  color: #999;
  font-size: 1.4rem;
  padding-right: 1rem;
}

.dropdown-content li a {
  color: rgb(77, 66, 66);
  font-size: 1.2rem;
}

.dropdown-content li:hover {
  background-color: #8bc6ec;
}

.show {
  display: block;
}

/* ! Displayer */


/* !media query */

@media screen and (max-width: 640px) {
  .logo {
    display: none;
  }

  .info-cont {
    width: auto;
  }

  .product {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }
}

/* Media */

@media screen and (max-width: 870px) {
  .pictures-container {
    display: none;
    width: 100%;
    border-radius: 5px;
    margin: auto;
    padding: 0.5rem;
  }

  .pictures-container img {
    width: 95%;
    height: auto;
  }

  .product-to-diplay {
    width: 100%;
    height: 100%;
  }

  .dis-see {
    display: block;
  }

  .change-image {
    /* display: none; */
  }

  .product-to-diplay {
    /* display: none; */
    height: 100%;
  }

  .display-content {
    width: 90%;
    height: auto;
  }
}