.sidebar {
    z-index: 99;
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    box-shadow: var(--shadow);
    opacity: 0;
    display: block;
}

.inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem;
    /* background-color: #ffcef3; */
    border-bottom: thin solid #c4c4c483;

}

/* ! PROFILE */

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
    background-color: #ecfffb;
    width: 100%;
    border-bottom: thin solid #c4c4c483;

}

.prfl-info {
    font-size: 19px;
    font-family: "Lato", sans-serif;

}


.prfl-info #name {
    margin: 0.3rem 0;
}

.prfl-info #email {
    margin: 0.3rem 0;
    color: #635d5d;
}

.prfl-picture img {
    clip-path: circle(45% at 50% 50%);
}

#ham {
    margin-right: 3.5rem;
}



.header__menu>span {
    display: block;
    width: 24px;
    height: 2.9666px;
    background-color: #8a2be2;
    margin: 3.9px 0;
    transition: all 300ms ease-in-out;
    transform-origin: 2px center;
}

.open span:first-child {
    transform: rotate(45deg);
}

.open span:last-child {
    transform: rotate(-45deg);
}

.open span:nth-child(2) {
    opacity: 0;
}

.list-container {
    width: 100%;
}

.site-pop {
    display: block;
    width: 100%;
    border-bottom: thin solid #c4c4c4d0;
}

.list-element {
    padding: .7rem 1rem;
    width: 100%;
    display: flex;
    cursor: pointer;
    transition: all .3s ease-in-out;
    align-items: center;
}

.list-element img {
    padding: 0rem 1rem;
}

.list-element p {
    color: #756f6f;
    font-size: 1.0rem;
    font-weight: 550;
}

.list-element:hover,
.list-element:active {
    background-color: rgba(238, 238, 238, 0.705);
}




@media screen and (max-width: 640px) {
    .sidebar {
        z-index: 99;
        position: fixed;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        height: auto;
        display: grid;
        place-items: center;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        box-shadow: var(--shadow);
        margin-top: 0.5rem;
        border-radius: 5px;
        opacity: 0;
    }

    .profile {
        border-radius: 5px;
    }

    .categories a {
        padding: 0.45rem 4rem;
    }

    .inner-container-aside {
        padding: 1rem 0;
    }

    .inner {
        display: none;
    }


}