@import 'include-media';
// @import '/css/home/colors';
$nice_black : #3F4045;
body {
    background: #EEE;
}

nav {
    background-color: rgb(250, 249, 249);
}

.papa {
    padding: 1rem;
    width: 80%;
    height: 80vh;
    z-index: -1;
    font-family: 'poppins';
    display: grid;
    place-items: center;
    margin: auto;

    @include media('<tablet') {
        width: 90%;
        padding: 1rem;
    }


    @include media('<phone') {
        width: 100%;
        padding: 1rem;
    }

}


.container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 2rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 7px 10px 10px rgba($color: #000000, $alpha: 0.08);
    background-color: #FFF;

    @include media('<tablet') {
        padding: 1rem;
    }

    @include media('<phone') {
        padding: .5rem;
    }

    .image-header {
        margin: auto;
        @include media('<tablet') {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .login-form {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        strong {
            margin-bottom: 2rem;
            font-size: 2rem;
            text-align: center;
            color: $nice_black;
        }

        .load {

            .content{
                display: flex;
                width: 300px;
                border-radius: 1rem;
                background-color: #EEE;
                place-items: center;
                align-items: center;
            }


            #em {
                padding: 0 0.5rem 0 1rem;
                color: #979797;
            }

            input {
                outline: none;
                border: 0;
                height: 2.9rem;
                padding: 0.5rem;
                font-size: 0.9rem;
                font-weight: 500;
                background-color: #EEE;

            }

            .valid{
                display: flex;
                align-items: center;
                place-items: center;
                max-height: 1rem;
                margin : .5rem 0 ;
                padding-left: .75rem;
                color: #c75469;
                visibility: hidden;
                i{
                    padding-right: .65rem;

                }
                .validation{
                    // display: none;
                    display: block;
                   
                    font-size: 0.9rem;
                }
            }

            .show-valid{
                visibility: visible;
            }

           
        }

        .login {
            margin-top: 1.5rem;

            button {
                width: 100%;
                height: 2.6rem;
                border-radius: 1rem;
                font-size: 0.9rem;
                font-weight: 900;
                background-color: #0b9d8a;
                color: white;
                border: none;
                cursor: pointer;
            }
        }
    }


    .crate {
        text-align: center;

        a {
            color: #0b9d8a;
            font-weight: 500;
            font-size: 1rem;

        }

        i {
            margin-left: 0.6rem;
            color: #50978e;
            font-weight: 600;
            font-size: 1.0rem;
        }
    }

    .forget {
        padding-left: 0.5rem;
        font-size: 0.9rem;
        color: #9b9797;
        text-align: center;
        margin: 1rem 0;

        a {
            color: #9b9797;

            span {
                color: rgb(230, 156, 142);

                &:hover {
                    color: #9053c7;
                    text-decoration: underline;
                }
            }
        }
    }

    h4 {
        text-align: center;
        margin: 0;
        color: #999696;
    }
}

