.hero {
    position: absolute;
    top: 15rem;
    left: 6rem;
    background: #EEEEEE;
    width: 46%;
    max-width: 46%;
    height: auto;
    padding: 1.2rem 1.5rem;
    border-radius: 8px;
    color: $nice_black;

    h1 {
        line-height: 1.4;
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 1.3rem;

        span {
            font-size: 1.8rem;
            color: $primary;
            display: block;
            // text-decoration: underline;
        }
    }

    p {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 1.5rem;
    }


}


.inpt-container {
    border: 1px solid magenta;
    display: flex;
    height: 3rem;
    width: 60%;
    border-radius: 30px;
    padding: .5rem;


    input {
        // flex: 1 0 50%;
        border: none;
        padding: 0 1rem;
        font-size: 1.4rem;
        outline: none;
    }

    button {
        // flex: 1 0 30%;
    }

}